@import 'style';

.booking-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 30px 30px;

    .table {
        width: 100%;
    }

    a {
      display: block;
    }

    a button {
      margin: 20px auto !important;
    }
}
