/**
 * Mixin to print any kind of font contained in the $font-types map
 * @param   { String } $id:        'font-type-1'
 * @param   { Boolean } $use-media: true
 */
.index__form--3Fw4T {
  display: flex;
  flex-direction: column;
  padding: 20px; }
  .index__form--3Fw4T input {
    margin-bottom: 15px !important; }
  .index__form--3Fw4T > * {
    width: 250px; }
  .index__form--3Fw4T .index__error--3hsMd,
  .index__form--3Fw4T .index__success--cqA3W {
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px; }
  .index__form--3Fw4T .index__error--3hsMd {
    color: indianred;
    border: 1px solid indianred; }
  .index__form--3Fw4T .index__success--cqA3W {
    color: forestgreen;
    border: 1px solid forestgreen; }

/**
 * Mixin to print any kind of font contained in the $font-types map
 * @param   { String } $id:        'font-type-1'
 * @param   { Boolean } $use-media: true
 */
.index__client-list--6LsGY {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 30px 30px; }
  .index__client-list--6LsGY .index__table--3Ez9q {
    width: 100%; }
  .index__client-list--6LsGY a {
    display: block; }
  .index__client-list--6LsGY a button {
    margin: 20px auto !important; }

/**
 * Mixin to print any kind of font contained in the $font-types map
 * @param   { String } $id:        'font-type-1'
 * @param   { Boolean } $use-media: true
 */
.index__form--1w-xg {
  display: flex;
  flex-direction: column;
  padding: 20px; }
  .index__form--1w-xg input {
    margin-bottom: 15px !important; }
  .index__form--1w-xg > * {
    width: 250px; }
  .index__form--1w-xg .index__error--2aBbK,
  .index__form--1w-xg .index__success--iwOC4 {
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px; }
  .index__form--1w-xg .index__error--2aBbK {
    color: indianred;
    border: 1px solid indianred; }
  .index__form--1w-xg .index__success--iwOC4 {
    color: forestgreen;
    border: 1px solid forestgreen; }

/**
 * Mixin to print any kind of font contained in the $font-types map
 * @param   { String } $id:        'font-type-1'
 * @param   { Boolean } $use-media: true
 */
.index__booking-list--KL4u3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 30px 30px; }
  .index__booking-list--KL4u3 .index__table--1yKDf {
    width: 100%; }
  .index__booking-list--KL4u3 a {
    display: block; }
  .index__booking-list--KL4u3 a button {
    margin: 20px auto !important; }

/**
 * Mixin to print any kind of font contained in the $font-types map
 * @param   { String } $id:        'font-type-1'
 * @param   { Boolean } $use-media: true
 */
.index__navbar--lH5sl {
  height: 100%;
  width: 295px;
  background: linear-gradient(135deg, #39F 0%, #3781CA 100%);
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .index__navbar--lH5sl .index__nav-container--KI5-x {
    margin-bottom: 50px; }
  .index__navbar--lH5sl .index__title--3Hu8k a {
    color: #F8FAFF;
    font-family: Quicksand;
    font-size: 50px;
    font-weight: 700;
    line-height: 63px;
    text-decoration: none; }
  .index__navbar--lH5sl ul {
    list-style: none;
    padding-left: 0; }
  .index__navbar--lH5sl .index__nav-entry--3NWAK {
    color: #F8FAFF;
    font-size: 40px;
    line-height: 50px;
    font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 45px;
    display: block;
    text-decoration: none; }
    @media only screen and (max-width: 680px) {
      .index__navbar--lH5sl .index__nav-entry--3NWAK {
        font-size: 44px;
        line-height: 62px; } }
    .index__navbar--lH5sl .index__nav-entry--3NWAK:not(.index__-current--lGN7K) {
      opacity: 0.55; }
    .index__navbar--lH5sl .index__nav-entry--3NWAK:last-child() {
      margin-bottom: 0; }
  .index__navbar--lH5sl .index__delimitter--CjhYy {
    box-sizing: border-box;
    width: 100%;
    opacity: 0.55;
    border-top: 3px solid #E0E0E0;
    transform: translateX(-35px); }
  .index__navbar--lH5sl .index__sub--3JUtB {
    margin-top: 40px; }
  .index__navbar--lH5sl .index__sub-nav-entry--7Mpl9 {
    opacity: 0.6;
    color: #F8FAFF;
    font-family: Quicksand;
    font-size: 30px;
    line-height: 38px; }

/**
 * Mixin to print any kind of font contained in the $font-types map
 * @param   { String } $id:        'font-type-1'
 * @param   { Boolean } $use-media: true
 */
.app__app--D6Inl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }
  .app__app--D6Inl .app__page-body--3DULv {
    flex-grow: 1;
    height: 100%;
    overflow: auto; }

/**
 * Mixin to print any kind of font contained in the $font-types map
 * @param   { String } $id:        'font-type-1'
 * @param   { Boolean } $use-media: true
 */
body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

#root__root--I6HmN {
  width: 100%;
  height: 100%;
  background-color: #F8FAFF; }

* {
  box-sizing: border-box; }

