@import 'style';

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;

  input {
    margin-bottom: 15px !important;
  }

  > * {
    width: 250px;
  }

  .error {
    color: $error-color;
  }

  .success {
    color: $success-color;
    border: 1px solid $success-color;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
  }
}